<body>
<div class="container">
<div *ngIf="customer">
    <h1>Kliento duomenys:</h1>

    <div><label>Vardas: </label> {{customer.name}}</div>
    <div><label>Pavardė: </label> {{customer.surname}}</div>
    <div><label>Suma: </label> €{{customer.amount}}</div>
    <div><label>Grynosios mėnesio pajamos: </label> €{{customer.salary}}</div>
    <div><label>Statusas: </label>{{customer.status}}</div>
    <div><label>Šalis: </label>{{customer.country}}</div>
    <div><label>Miestas: </label>{{customer.city}}</div>
    <div><label>Adresas: </label>{{customer.address}}</div>
    <div><label>Asmens kodas: </label>{{customer.personal_code}}</div>
    <div><label>E. paštas: </label>{{customer.email}}</div>
    <div><label>Telefono nr.: </label>{{customer.phone_number}}</div>
    <div><label>Paso numeris.: </label>{{customer.doc_code}}</div>


    <div><label>Kodas: </label>{{customer.loanCode}}</div>


    <div *ngIf = "customer.status == 'Atmesta' || customer.status == 'Patvirtinta' || customer.status == 'Nepatikrinta'">
        <button (click)="acceptLoan()">
            Patvirtinti
        </button>
        <button (click)="declineLoan()">
            Atmesti
        </button>
    </div>

    <br>
    <br>
    <button (click)="goBack()">Back</button>

    <!--<div *ngIf = "customer.status == 'Atmesta' || customer.status == 'Patvirtinta' || customer.status == 'Nepatikrinta'">-->
        <!--<button (click)="save()">Save</button>-->
    <!--</div>-->



</div>
</div>
</body>
