.container{
  background-color: #eeeeee;
  border-top:double;
  border-left: double;
  border-bottom: double;
  border-right:double;
  border-color: rgba(158, 161, 161, 0.3);
  width: 80%;
  margin-top: 7%;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: grey;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.btn-primary{
  margin: 3% 0%;
  margin-left: 43%;
}

.kodukas{
  text-align: center;
  padding-top: 30px;
}

