<div>
    <label>Customer name:</label>
    <input class="form-field-narrow" id="name" min="0" #name>

    <label>surname:</label>
    <input class="form-field-narrow"  id="surname" min="0" #surname>

    <label>personal_code:</label>
    <input class="form-field-narrow"  id="personal_code" min="0" #personal_code>

    <label>doc_type:</label>
    <input class="form-field-narrow"  id="doc_type" min="0" #doc_type>

    <label>doc_code:</label>
    <input class="form-field-narrow"  id="doc_code" min="0" #doc_code>

    <label>country:</label>
    <input class="form-field-narrow"  id="country" min="0" #country>

    <label>city:</label>
    <input class="form-field-narrow"  id="city" min="0" #city>

    <label>address:</label>
    <input class="form-field-narrow"  id="address" min="0" #address>

    <label>phonenumber:</label>
    <input class="form-field-narrow"  id="phone_number" min="0" #phone_number>

    <label>e. mail:</label>
    <input class="form-field-narrow"  id="email" min="0" #email>

    <label>salary:</label>
    <input class="form-field-narrow"  id="salary" min="0" #salary>

    <label>amount:</label>
    <input class="form-field-narrow"  id="amount" min="0" #amount>


    <label>term:</label>
    <input class="form-field-narrow"  id="term" min="0" #term>

    <label>payment_day:</label>
    <input class="form-field-narrow"  id="payment_day" min="0" #payment_day>




</div>

<!--id: number;-->
<!--name: string;-->
<!--surname: string;-->
<!--personal_code: number;-->
<!--doc_type: string;-->
<!--doc_code: string;-->
<!--country: string;-->
<!--phone_number: number;-->
<!--email: string;-->
<!--salary: number;-->
<!--amount: number;-->
<!--term: number;-->
<!--payment_day: number;-->
<!--status: string;-->
<!--date: number;-->


<!--routerLink="/loancode"-->

<button type="submit" class="btn btn-default"   (click)="submitLoanApplication(
               name.value,
               surname.value,
               personal_code.value,
               doc_type.value,
               doc_code.value,
               country.value,
               city.value,
               address.value,
               phone_number.value,
               email.value,
               amount.value,
               salary.value,
               amount.value,
               term.value,
               payment_day.value

               )">
    Save
</button>

<h1>{{message}} {{loan_code}} </h1>



<!--<div *ngIf="customer">-->
    <!--{{customer.loanCode}}-->
<!--</div>-->
