.navbar-header{
  margin-left: 5%;
  padding: 20px;
}

.dropdown{
  padding: 20px;
}

.navbar-inverse{
  background-color: #282b2b;
}


li:hover{
  background-color: #9f9d9c;
}

li:hover a{
  color: white;
}

.lang{
  float: right;
  padding: 34px;
}
