.panel > .panel-heading {

  background-color: #eeeeee;
  border-top:double;
  border-left: double;
  border-bottom: double;
  border-right:double;
  border-color: rgba(158, 161, 161, 0.3);
}

.panel{
  margin-top: 7%;
}


.selected {
  background-color: #CFD8DC !important;
  color: #cccccc;
}

button {
  margin-top: 20px;
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-top:double;
  border-left: double;
  border-bottom: double;
  border-right:double;
  border-top-left-radius: .5cm;
  border-top-right-radius: .5cm;
  border-bottom-left-radius: .5cm;
  border-bottom-right-radius: .5cm;
  border-color: #f5871f;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
