#page-padding {
  padding: 0 1.5em 1.5em 1.5em;
}
.container{
  background-color: #eeeeee;
  border-top:double;
  border-left: double;
  border-bottom: double;
  border-right:double;
  border-color: rgba(158, 161, 161, 0.3);
  width: 70%;
  margin-top: 7%;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: grey;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

input.col-xs-8{
  display: inline-block;
  width: 60%;
}


.digits{
  margin-left: 40px;
}

input.col-xs-7{
  display: inline-block;
  width: 60%;
}

label.col-xs-3{
  width: 17%;
}

label.col-xs-12{
  padding: 50px 0px;
}

h4{
  text-align: center;
  margin-bottom: 50px;
}
.col-xs-4 input{
  margin-right: 10px;
  margin-left: 10px;
}
div.col-xs-12{
  margin-top: 50px;
  margin-left: 50px;
}

