<div class="hello">
  <h3>Paskolos statuso peržiūra pagal kodą</h3>
</div>
<div class="content">
<label>Iveskite koda:</label>
<input class="form-field-narrow"  id="loan_code"  #loan_code>


<button type="submit" class="btn btn-primary"   (click)="checkLoanCode(loan_code.value)">
  Tikrinti statusą
</button>
</div>
<p *ngFor="let customer of customers">
  <span *ngIf="buttonClicked == 'true' " >

      <span style="font-size:300%;" *ngIf="customer.loanCode == neededLoanCode ">{{customer.name}} {{customer.surname}}, Statusas: {{customer.status}}</span>

  </span>
</p>
