<div class="hello">
  <h3>{{ 'LoanbyCode' | translate }}</h3>
</div>
<div class="content">
<label>{{ 'AddCod' | translate }}:</label>
<input class="form-field-narrow"  id="loan_code"  #loan_code>


<button type="submit" class="btn btn-primary"   (click)="checkLoanCode(loan_code.value)">
  {{ 'CheckS' | translate }}
</button>
</div>
<p *ngFor="let customer of customers">
  <span *ngIf="buttonClicked == 'true' " >

      <span style="font-size:300%;" *ngIf="customer.loanCode == neededLoanCode ">{{customer.name}} {{customer.surname}}, Statusas: {{customer.status}}</span>

  </span>
</p>
