.hello{
  margin-top: 100px;
  text-align: center;
}

.content {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 200px 50px;
  display: block;
  background-color: #eeeeee;
  width: 50%;
  border-top:double;
  border-left: double;
  border-bottom: double;
  border-right:double;
  border-color: rgba(158, 161, 161, 0.3);
}


.content label{
  margin-right: 30px;
}

.content button{
  margin-left: 30px;
}






/*136-641-276*/
